@font-face {
  font-family: Anton;
  src: url(../src/assets/fonts/Anton-Regular.ttf);
  
}
@font-face {
  font-family: YoungSerif-Regular;
  src: url(../src/assets/fonts/YoungSerif-Regular.ttf);
  
}
@font-face {
  font-family: Cinzel-VariableFont;
  src: url(../src/assets/fonts/Cinzel-VariableFont_wght.ttf);
  
}
@font-face {
  font-family: NotoSansBatak-Regular;
  src: url(../src/assets/fonts/NotoSansBatak-Regular.ttf);
}

@import "tailwindcss";

@theme {
  --font-anton: Anton, "sans-serif";
  --font-young: YoungSerif-Regular, "sans-serif";
  --font-cinzel: Cinzel-VariableFont, "sans-serif";
  --font-yosi: NotoSansBatak-Regular, "sans-serif";
}